<div>
	<!-- Side navigation bar-->
	<mat-sidenav-container>
		<mat-sidenav mode="side" opened>
			<nav class="navMenu">
				<a routerLink="/home" 
					routerLinkActive="active"><mat-icon fontIcon="home"></mat-icon>&nbsp;Home</a>
				<a routerLink="/tasks" 
						routerLinkActive="active"><mat-icon fontIcon="dashboard"></mat-icon>&nbsp;Task Board</a>
				<a routerLink="/people" 
						routerLinkActive="active"><mat-icon fontIcon="people"></mat-icon>&nbsp;People</a>
				<a routerLink="/projects" 
						routerLinkActive="active"><mat-icon fontIcon="description"></mat-icon>&nbsp;Projects</a>
			</nav>
			
		</mat-sidenav>
		<!-- Main content -->
		<mat-sidenav-content>
			<h3 id="app-title">{{title}}</h3>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
		
	</mat-sidenav-container>
	
</div>

<!-- 
	Sources:
	“Angular Material Ui Component Library.” Angular Material, https://material.angular.io/components/categories. 
	Gudelli, Arunkumar. “Mat-Icon List : 900+ Angular Material Icons.” Angular Wiki, Angular Wiki, 14 July 2020, https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/. 
-->



